<div class="container-lg bg-white min-vh-100">
  <div class="row pt-5">
    <div class="col-md-6">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="img-fluid d-block w-100"
              src="{{ activeProduct[0].image_0 }}"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              class="img-fluid d-block w-100"
              src="{{ activeProduct[0].image_2 }}"
              alt=""
            />
          </div>
          <div class="carousel-item">
            <img
              class="img-fluid d-block w-100"
              src="{{ activeProduct[0].image_1 }}"
              alt=""
            />
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon bg-dark"
            aria-hidden="true"
          ></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon bg-dark"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </div>
    <div class="col-md-6 pt-3">
      <h1>{{ activeProduct[0].name }}</h1>
      <h6>{{ activeProduct[0].desc }}</h6>
      <div class="row d-flex align-items-center pt-5">
        <div class="col-sm-6 text-danger h1">
          {{ activeProduct[0].price | currency }}
        </div>
        <div class="col-sm-6">
          <button class="btn btn-outline-danger w-100" (click)="addToCart()">
            <i class="fa fa-shopping-cart me-1"></i> Add to Cart
          </button>
        </div>
      </div>
      <div class="mt-4">
        {{ activeProduct[0].detail }}
      </div>
    </div>
  </div>
  <!-- ADD COMMENT SECTION HERE! -->
  <!-- <div class="row pb-5 pt-5">
    <div class="col-sm-12">
      {{ activeProduct[0].detail }}
    </div>
  </div> -->
</div>
